---
import type { BlogPostFrontmatter } from "@types";
export async function getStaticPaths() {
    const posts=await Astro.glob<BlogPostFrontmatter>('../*.md');
    let tags:string[]=[];
    posts.forEach(post => {
        if(post.frontmatter.tags){
            tags.push(...post.frontmatter.tags)
        }
    });
    return tags.map(tag=>({
        params: {
            tag:tag.toLocaleLowerCase()
        }
    }))
    
}
    
import Base from "../../../layouts/Base.astro";
import PostsList from "../../../components/PostsList.astro";
const {tag}=Astro.params;
let posts = await Astro.glob<BlogPostFrontmatter>('../*.md');
posts= posts.filter(post=> {
    let shouldShow= false;
    post.frontmatter.tags?.forEach(postTag =>{
        if(postTag.toLocaleLowerCase()===tag){
            shouldShow=true;
        }
    })
    return shouldShow;
})

---
<Base title={`${tag} Blog Posts`}>
    <h1 class="head">Samarth Meditech Blog</h1>
    <p class="show">Showing Blog posts for the <strong>{tag}</strong> tag </p>
    <PostsList posts={posts}/>
</Base>
<style>
    .head{
        font-size: 4vw;
        font-family: var(--poppins);
        text-align: center;
        position: fixed;
        height: 10vw;
    }
    .show{
        font-size: 1vw;
    }
    @media (min-width:100px) and (max-width:400px){
        .head{
            font-size: 7vw;
            transform: translateX(-2vw);
            height: 10vw;
            position: relative;
            top:-4vw;
        }
        .show{
            font-size: 5vw;
        }
    }
    @media (min-width:400px) and (max-width:700px){
        .head{
            font-size: 7.3vw;
            transform: translateX(-2vw);
            height: 10vw;
            position: relative;
            top:-1vw;
        }
        .show{
            font-size: 4.5vw;
        }
    }
    @media (min-width:700px) and (max-width:950px){
        .head{
            font-size: 7vw;
            transform: translateX(-2vw);
            height: 10vw;
            position: relative;
            top:-1vw;
        }
        .show{
            font-size: 4vw;
        }
    }
    @media (min-width:950px) and (max-width:1023px){
        .head{
            font-size: 6.5vw;
            transform: translateX(-2vw);
            height: 10vw;
            position: relative;
            top:-1vw;
        }
        .show{
            font-size: 4vw;
        }
    }
    @media (min-width:1023px) and (max-width:1650px){
        .head{
            font-size: 6vw;
            transform: translateX(-2vw);
            height: 10vw;
            position: relative;
            top:-2vw;
        }
        .show{
            font-size: 3vw;
        }
    }
    @media (min-width:1650px){
        .head{
            font-size: 6vw;
            transform: translateX(-2vw);
            height: 10vw;
            position: relative;
            top:-2vw;
        }
        .show{
            font-size: 3vw;
        }
    }

</style>