---
import Base from "../../layouts/Base.astro";
import type { BlogPostFrontmatter} from "@types";
import PostsList from "../../components/PostsList.astro";

let posts = await Astro.glob<BlogPostFrontmatter>('./*.md');

---
<Base title="Blog Posts">
    <h1 class="head">Samarth Meditech Blog</h1>
    <div>
        <PostsList posts={posts}/>
    </div>
</Base>
<style>
    .head{
        font-size: 4vw;
        font-family: var(--poppins);
        text-align: center;
        position: fixed;
        height: 10vw;
    }
    @media (min-width:100px) and (max-width:400px){
        .head{
            font-size: 7vw;
            transform: translateX(-2vw);
            height: 10vw;
            position: relative;
            top:-4vw;
        }
    }
    @media (min-width:400px) and (max-width:700px){
        .head{
            font-size: 7.3vw;
            transform: translateX(-2vw);
            height: 10vw;
            position: relative;
            top:-1vw;
        }
    }
    @media (min-width:700px) and (max-width:950px){
        .head{
            font-size: 7vw;
            transform: translateX(-2vw);
            height: 10vw;
            position: relative;
            top:-1vw;
        }
    }
    @media (min-width:950px) and (max-width:1023px){
        .head{
            font-size: 6.5vw;
            transform: translateX(-2vw);
            height: 10vw;
            position: relative;
            top:-1vw;
        }
    }
    @media (min-width:1023px) and (max-width:1650px){
        .head{
            font-size: 6vw;
            transform: translateX(-2vw);
            height: 10vw;
            position: relative;
            top:-2vw;
        }
    }
    @media (min-width:1650px){
        .head{
            font-size: 6vw;
            transform: translateX(-2vw);
            height: 10vw;
            position: relative;
            top:-2vw;
        }
    }

</style>