---
import Layout from '../layouts/Layout.astro';
import Head from '../components/Head.astro';
import Section from '../components/Section.astro';
import Article1 from '../components/Article1.astro';
import Product from '../components/Product.astro';
import Features from '../components/Features.astro';
import Partnership from '../components/Partnership.astro';
import Aliances from '../components/Aliances.astro';
import Reviews from '../components/Reviews.astro';
import Talk from '../components/Talk.astro';
---
<div class="container-fluid main">
    <Layout title="Samarth Meditech">
        <Head/>
        <Section/>
        <Article1/>
        <Product/>
        <Features/>
        <Partnership/>
        <Aliances/>
        <Reviews/>
        <Talk/>
    </Layout>
</div>
<style>
    .main{
        overflow-x: hidden;
    }
</style>
