---
import Layout from '../layouts/Layout.astro';
---
<article class='team'>
    <h1 class="text-3xl text-center capitalize pt-5">our team</h1>
    <div class="grid">
        <div class="team-mem">
            <div class="img">
                <img src="assets/Sharan.jpg" alt="">
            </div>
            <div class="caption">
                <a href="#">Sharangouda Agni</a>
                <h1>Founder/ CEO</h1>
                <p class="text-sm">Sharan is a Graduate in Electrical Engineering from VTU with more than 5 years of professional experience in organizations like Wipro. He is passionate about organizing and executing complex operations and is adept at managing businesses spread across the globe.</p>
            </div>
        </div>
        <div class="team-mem">
            <div class="img">
                <img src="assets/Dattu.jpg" alt="">
            </div>
            <div class="caption">
                <a href="#">Narasimhadatta Patil</a>
                <h1>Founder/ COO</h1>
                <p class="text-sm">Datta has more than 8 years of Meditech experience and has created multiple successful products for the industry. His vision is to help small and medium scale businesses to scale up, use newer technologies and improve their margins. He also brings in a vast network in the meditech industry.</p>
            </div>
        </div>
        <div class="team-mem">
            <div class="img">
                <img src="assets/Chandan.jpg" alt="">
            </div>
            <div class="caption">
                <a href="#">Chandan Purohit</a>
                <h1>CTO</h1>
                <p class="text-sm">Chandan is the driving force for Samarth Meditech in terms of Technology selection and architecture. He has worked on making all our Applications user friendly and highly responsive. He holds a Masters in Computer Science. Teaching is his passion and has been a great contributor on GitHub.</p>
            </div>
        </div>
        <div class="team-mem">
            <div class="img">
                <img src="assets/Shirish.jpg" alt="">
            </div>
            <div class="caption">
                <a href="#">Shirish Morab</a>
                <h1>CMO</h1>
                <p class="text-sm">Shirish has more than 15 years of global and domestic industry experience setting up and operating delivery teams. He is an expert in creating and executing ‘go to market’ strategies, creating partnerships and driving teams to achieve. He is avid reader and nature explorer over the weekends.</p>
            </div>
        </div>
    </div>
</article>
<article class='team'>
    <h1 class="text-3xl text-center capitalize pt-5">our advisories</h1>
    <div class="grid">
        <div class="team-mem">
            <div class="img">
                <img src="assets/sudesh_naik.jpg" alt="">
            </div>
            <div class="caption">
                <a href="#">Sudhesh Nayak</a>
                <h1>Founder - Akshay Infotech.</h1>
                <p class="text-sm">Mr Nayak is a meditech industry veteran with more than 25 years of experience and has built and launched multiple successful products for the retail and wholesale pharma verticals.His rich functional expertise and inputs pertaining to accounting and financial operations in the pharma LOB have truly made our products what the industry needs. Mr Nayak is still an entrepreneur and runs his C&F business out of Hubli.He is full time Functional Advisor to Samarth Meditech.</p>
            </div>
        </div>
        <div class="team-mem">
            <div class="img">
                <img src="assets/Anand.jpg" alt="">
            </div>
            <div class="caption">
                <a href="#">Anand Kulkarni (IIM-Indore)</a>
                <h1>Consulting Advisor</h1>
                <p class="text-sm">Anand is an IIM-Indore and university of Pittsburgh USA alumnus.He has been associated with ITC,Maruti Suzuki and ICICI bank in various capacities(Regional head, Investment banker,General Manager etc).His experience helped lot in various ways for Samarth Meditech.Samarth utilized his experience in sales and marketing to compete in the crucial market.</p>
            </div>
        </div>
        <div class="team-mem">
            <div class="img">
                <img src="assets/Manju.jpg" alt="">
            </div>
            <div class="caption">
                <a href="#">Manjunath Yalagi(IIM-Kolkata)</a>
                <h1>Consulting Advisor</h1>
                <p class="text-sm">Yalagi manjunath have 7+ years’ experience as manager in various MNC companies like amazon. He has managed complete inventory management and delivery cycles of the organization. Experience in replenishment management, logistics, supply chain environments, as well as your expertise in stock management, warehousing solutions, and end to end process design among others. His experience given various level knowledge in building of Samarth meditech.</p>
            </div>
        </div>
        <div class="team-mem">
            <div class="img">
                <img src="assets/subramanya.jpg" alt="">
            </div>
            <div class="caption">
                <a href="#">Subramanya Mujumdar</a>
                <h1>Working for Oracle America Inc</h1>
                <p class="text-sm">Subramanya Mujumdar has 15+ years of experience in design and development of could scale applications. He is passionate about technology and loves to learn new things. He has designed and developed the platform layer for Oracle's Billing and Revenue Management product. He has built rating engine for Korea Telecom and Telstra Australia. He has worked for Zuora's SaaS based billing and rating system. Currently working for Oracle America Inc as Principal Member of Technical Staff.</p>
            </div>
        </div>
    </div>
</article>
<style>
    .team{
        height: 100vh;
        background: white;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 0.1fr;
    }
    .team-mem{
        position: relative;
        width: 20vw;
        height: 43vh;
        top:80px;
        left: 33px;
        background: white;
        padding: 30px;
        border-radius: 50%;
        box-shadow: 0 0 20px black;
        transition: .5s;
    }
    .team-mem:hover{
        border-radius: 10px;
        height: 80vh;
        width: 23vw;
    }
    .team-mem .img{
        position: relative;
        width: 100%;
        height: 100%;
        transition: .9s;

    }
    .img img{
        width:100%;
        border-radius: 50%;
        box-shadow: 0 0 20px black;
        transition: .2s;
    }
    .team-mem:hover img{
        
        width:70%;
        border-radius: 10px;
    }
    .team-mem:hover .img{
        transform:translateY(-80px) ;
    }
    .caption{
        text-align: justify;
       
        transform: scale(0.1,0.1) translateY(-300vh);
        opacity: 0;
        transition: 2s ease-in;
        transition: 0.1s ease-out;

    }
    .team-mem:hover .caption{
        opacity: 1;
        transform:scale(1,1) translateY(-375px);;
    }
</style>